{% extends "blog/basetemplate.html" %}
{% block content %}
    <h1>Blog home</h1>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">
                        <!-- Using a different approach from home.html, 
                            we're using the django default "object." instead of "post."-->
                        {{ object.author }}
                    </a>
                    <small class="text-muted">
                        <!-- https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#date -->
                        {{ object.date_posted | date:"M j, o" }}
                    </small>
                </div>
                <h2 class="article-title">
                    {{ object.title }}
                </h2>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>   
{% endblock content %}
